 /* =====================================
     GLOBAL NAVBAR RESPONSIVE
=====================================  */

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 75px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background: #0b0f14;
    padding: 20px;
    display: none;
  }

  .nav-menu.active {
    display: flex;
  }

  .dropdown-menu {
    position: static;
    border: none;
  }

  .nav-btn {
    margin-top: 10px;
  }
}


 /* =====================================
     FOOTER RESPONSIVE
=====================================  */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}

 /* ===================================== HOME PAGE STARTS =====================================  */
 /* =====================================
     HOME HERO RESPONSIVE
=====================================  */
@media (max-width: 768px) {

  .hero {
    height: auto;
    padding: 80px 0;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-buttons {
    flex-direction: column;
  }
}

 /* =====================================
     HOME ABOUT RESPONSIVE
=====================================  */

@media (max-width: 768px) {

  .about-container {
    grid-template-columns: 1fr;
  }

  .about-image {
    order: -1;
  }

  .about-badge {
    position: static;
    margin-top: 15px;
  }
}


 /* =====================================
     HOME SERVICES RESPONSIVE
=====================================  */
@media (max-width: 992px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}


 /* =====================================
     HOME PROJECTS RESPONSIVE
=====================================  */
@media (max-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}


 /* =====================================
     HOME CERT SECTION RESPONSIVE
=====================================  */
@media (max-width: 992px) {

  .cert-cards-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .cert-stats-row {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 600px) {

  .cert-cards-row {
    grid-template-columns: 1fr;
  }

  .cert-stats-row {
    grid-template-columns: 1fr;
  }

  .stat-box {
    border-right: none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
  }

  .stat-box:last-child {
    border-bottom: none;
  }
}

/* =========================  HOME PAGE ENDS ========================= */


/* =========================  ABOUT PAGE STARTS ========================= */
/* =========================
   ABOUT HERO RESPONSIVE
========================= */
@media (max-width: 768px) {

  .about-hero {
    height: auto;
    padding: 60px 0;
  }

  .about-hero-content h1 {
    font-size: 2rem;
  }

}

/* =========================
   ABOUT COMPANY (WHO ARE WE) SECTION 
========================= */
@media (max-width: 768px) {

  .who-container {
    grid-template-columns: 1fr;
  }

  .who-image {
    order: -1;
  }

}

/* =========================
   MISSION VISION RESPONSIVE 
========================= */
@media (max-width: 992px) {
  .mv-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .mv-container {
    grid-template-columns: 1fr;
  }
}

/* =========================
   WHY CHOOSE RESPONSIVE
========================= */
@media (max-width: 768px) {

  .why-container {
    grid-template-columns: 1fr;
  }

  .why-image {
    order: -1;
  }

}

/* =========================  MAIN SERVICE  PAGE STARTS ========================= */
/* =========================
   SERVICES HERO RESPONSIVE
========================= */
@media (max-width: 768px) {

  .services-hero {
    height: auto;
    padding: 60px 0;
  }

  .services-hero-content h1 {
    font-size: 2rem;
  }

}

/* =========================
   SERVICES STRENGTH  SECTION RESPONSIVE
========================= */
@media (max-width: 768px) {
  .strength-grid {
    grid-template-columns: 1fr;
  }
}

/* =========================
   SURVEY GIS RESPONSIVE
========================= */
@media (max-width: 768px) {

  .gis-container {
    grid-template-columns: 1fr;
  }

  .gis-features {
    grid-template-columns: 1fr;
  }

}


/* =========================
   SERVICES SURVEY SECTION RESPONSIVE
========================= */
@media (max-width: 992px) {
  .survey-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .survey-grid {
    grid-template-columns: 1fr;
  }
}

/* =========================
   SERVICES PILE SECTION RESPONSIVE
========================= */
@media (max-width: 992px) {
  .pile-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .pile-grid {
    grid-template-columns: 1fr;
  }
}


/* =========================
   SERVICES DRONE SECTION RESPONSIVE
========================= */
@media (max-width: 992px) {
  .drone-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .drone-grid {
    grid-template-columns: 1fr;
  }
}


/* =========================
   SERVICES NDT RESPONSIVE
========================= */
@media (max-width: 992px) {
  .ndt-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ndt-grid {
    grid-template-columns: 1fr;
  }
}

/* =========================  MAIN SERVICE  PAGE ENDS ========================= */

/* =========================  MAIN SURVEY  PAGE STARTS ========================= */
/* =========================
    SURVEY HERO RESPONSIVE
========================= */
@media (max-width: 768px) {

  .survey-hero {
    height: auto;
    padding: 60px 0;
  }

  .survey-hero-content h1 {
    font-size: 2rem;
  }

}

/* =========================
   SURVEY GPR RESPONSIVE
========================= */
@media (max-width: 768px) {

  .gpr-container {
    grid-template-columns: 1fr;
  }

  .gpr-image {
    order: -1;
  }

}

/* =========================
   SURVEY TOTAL STATION  RESPONSIVE
========================= */
@media (max-width: 768px) {

  .ts-container {
    grid-template-columns: 1fr;
  }

}

/* =========================
   SURVEY DGPS  RESPONSIVE
========================= */
@media (max-width: 768px) {

  .dgps-grid {
    grid-template-columns: 1fr;
  }

}

/* =========================  MAIN SURVEY  PAGE ENDS ========================= */

/* =========================  MAIN STRENGTHNING  PAGE STARTS ========================= */
/* =========================
   STRENGTH HERO  RESPONSIVE
========================= */
@media (max-width: 768px) {

  .strength-hero {
    height: auto;
    padding: 60px 0;
  }

  .strength-hero-content h1 {
    font-size: 2rem;
  }

}

/* =========================
   STRENGTHENING WATERPROOFING responsive
========================= */
@media (max-width: 768px) {

  .waterproof-container {
    grid-template-columns: 1fr;
  }

  .waterproof-image {
    order: -1;
  }

}

/* =========================
   STRENGTHENING EPOXY responsive
========================= */
@media (max-width: 768px) {

  .epoxy-container {
    grid-template-columns: 1fr;
  }

}
/* =========================  MAIN STRENGTHENING PAGE ENDS ========================= */


/* =========================  MAIN DRONE SURVEY PAGE STARTS ========================= */
/* =========================
   DRONE HERO responsive
========================= */
@media (max-width: 768px) {

  .drone-hero {
    height: auto;
    padding: 60px 0;
  }

  .drone-hero-content h1 {
    font-size: 2rem;
  }

}

/* =========================
   DRONE RGB responsive
========================= */
@media (max-width: 768px) {

  .rgb-container {
    grid-template-columns: 1fr;
  }

  .rgb-image {
    order: -1;
  }

}

/* =========================
   drone PHOTOGRAMMETRY responsive
========================= */
@media (max-width: 992px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .photo-grid {
    grid-template-columns: 1fr;
  }
}

/* =========================
   DRONE THERMAL responsive
========================= */
@media (max-width: 768px) {

  .thermal-grid {
    grid-template-columns: 1fr;
  }

}


/* =========================
   DRONE LIDAR responsive
========================= */
@media (max-width: 992px) {

  .lidar-features {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {

  .lidar-wrapper {
    grid-template-columns: 1fr;
  }

  .lidar-features {
    grid-template-columns: 1fr;
  }

}


/* =========================  MAIN DRONE SURVEY PAGE ENDS ========================= */

/* =========================   MAIN  NDT  PAGE   STARTS   ========================= */
/* =========================
   NDT HERO responsive
========================= */
@media (max-width: 768px) {

  .ndt-hero {
    height: auto;
    padding: 60px 0;
  }

  .ndt-hero-content h1 {
    font-size: 2rem;
  }

}

/* =========================
   NDT UPV responsive
========================= */
@media (max-width: 768px) {

  .upv-container {
    grid-template-columns: 1fr;
  }

  .upv-image {
    order: -1;
  }

}

/* =========================
   NDT REBOUND RESPONSIVE
========================= */
@media (max-width: 768px) {

  .rebound-container {
    grid-template-columns: 1fr;
  }

}

/* =========================
   NDT CARBONATION RESPONSIVE
========================= */
@media (max-width: 992px) {
  .carbonation-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .carbonation-grid {
    grid-template-columns: 1fr;
  }
}

/* =========================
   NDT CORE CUTTING RESPONSIVE
========================= */
@media (max-width: 768px) {

  .corecut-container {
    grid-template-columns: 1fr;
  }

  .corecut-image {
    order: -1;
  }

}

/* =========================
   NDT HALF CELL RESPONSIVE
========================= */
@media (max-width: 768px) {

  .halfcell-grid {
    grid-template-columns: 1fr;
  }

  .halfcell-features {
    grid-template-columns: 1fr;
  }

}

/* =========================
   NDT Rebar Locating Test RESPONSIVE
========================= */
@media (max-width: 768px) {

  .rebar-wrapper {
    grid-template-columns: 1fr;
  }

  .rebar-info {
    grid-template-columns: 1fr;
  }

}

/* =========================
   NDT MORTAR Test RESPONSIVE
========================= */
@media (max-width: 768px) {

  .mortar-container {
    grid-template-columns: 1fr;
  }

}

/* =========================  MAIN  NDT PAGE ENDS ========================= */

/* ========================= PILE FOUNDATION PAGE STARTS ========================= */
/* =========================
    PILE HERO RESPONSIVE
========================= */
@media (max-width: 768px) {

  .pile-hero {
    height: auto;
    padding: 60px 0;
  }

  .pile-hero-content h1 {
    font-size: 2rem;
  }

}

/* =========================
    PILE FOUNDATION  PILE INTEGRITY RESPONSIVE
========================= */
@media (max-width: 768px) {

  .pile-integrity-container {
    grid-template-columns: 1fr;
  }

  .pile-integrity-image {
    order: -1;
  }

}

/* ========================
PILE FOUNDATION Cross-Hole Sonic Login Test RESPONSIVE 
===========================  */
@media (max-width: 768px) {

  .csl-grid {
    grid-template-columns: 1fr;
  }

  .csl-features {
    grid-template-columns: 1fr;
  }

}

/* =====================================
 PILE FOUNDATION PILE LOAD TEST (KENTLEDGE METHOD) SECTION RESPONSIVE 
===================================== */
@media (max-width: 768px) {

  .kentledge-container {
    grid-template-columns: 1fr;
  }

}

/* =====================================
     Pile Load Test (Anchore Method) SECTION RESPONSIVE
=====================================  */
@media (max-width: 992px) {

  .anchor-features {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {

  .anchor-grid {
    grid-template-columns: 1fr;
  }

  .anchor-features {
    grid-template-columns: 1fr;
  }

}

/* =========================
    PILE LOAD TEST (ROCK ANCHOR METHOD) SECTION RESPONSIVE
========================= */
@media (max-width: 768px) {

  .rock-grid {
    grid-template-columns: 1fr;
  }

}