/* =========================  MAIN SERVICE  PAGE STARTS ========================= */
/* =========================
   SERVICES HERO
========================= */
.services-hero {
  position: relative;
  height: 50vh;
  background: url("../img/service-hero.png") center/cover no-repeat;
  display: flex;
  align-items: center;
}

/* Overlay */
.services-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 42, 0.75);
}

/* Content */
.services-hero-content {
  position: relative;
  color: #fff;
  max-width: 650px;
}

.services-hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: var(--white);
}

.services-hero-content p {
  color: #ddd;
  margin-bottom: 15px;
}

/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
}

.breadcrumb a {
  color: var(--accent);
}

.breadcrumb span {
  color: #ccc;
}

/* =========================
   STRENGTHENING SECTION
========================= */
.strength-section {
  background: var(--light);
}

/* Grid */
.strength-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

/* Card */
.strength-card {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 0.3s;
  position: relative;
}

/* Top accent bar */
.strength-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--accent);
  border-radius: 10px 10px 0 0;
}

/* Hover */
.strength-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Title */
.strength-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Text */
.strength-card p {
  font-size: 14px;
  color: #555;
}


.know-more-link a:hover::after {
  width: 100%;
}


/* =========================
   SURVEY SECTION
========================= */
.survey-section {
  background: #ffffff;
}

/* Grid */
.survey-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* Card */
.survey-card {
  background: #fff;
  padding: 25px 20px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #eee;
  transition: 0.3s;
}

.survey-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* Icon */
.survey-icon {
  font-size: 28px;
  margin-bottom: 10px;
}

/* Title */
.survey-card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Text */
.survey-card p {
  font-size: 13px;
  color: #666;
}

/* =========================
   PILE FOUNDATION SECTION
========================= */
.pile-section {
  background: #f8fafc;
}

/* Grid */
.pile-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Card */
.pile-card {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #eee;
  transition: 0.3s;
  position: relative;
}

/* Accent left border (engineering feel) */
.pile-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 4px;
  background: var(--accent);
  border-radius: 8px 0 0 8px;
}

/* Hover */
.pile-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Title */
.pile-card h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Text */
.pile-card p {
  font-size: 13px;
  color: #666;
}

/* =========================
   DRONE SECTION
========================= */
.drone-section {
  background: var(--white);
  color: #fff;
}

/* Grid */
.drone-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

/* Card */
.drone-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Hover glow */
.drone-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(249, 115, 22, 0.2);
  border-color: var(--accent);
}

/* Icon */
.drone-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

/* Title */
.drone-card h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Text */
.drone-card p {
  font-size: 13px;
  color: #ccc;
}


/* =========================
   NDT SECTION
========================= */
.ndt-section {
  background: #ffffff;
}

/* Grid */
.ndt-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* Card */
.ndt-card {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #eee;
  transition: 0.3s;
  position: relative;
}

/* Top accent line */
.ndt-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background: var(--accent);
  border-radius: 8px 8px 0 0;
}

/* Hover */
.ndt-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
}

/* Title */
.ndt-card h3 {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Text */
.ndt-card p {
  font-size: 13px;
  color: #666;
}

/* =========================
   know more  LINK (RIGHT SIDE) for all section 
========================= */
.know-more-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

/* Link style */
.know-more-link a {
  font-size: 14px;
  font-weight: 600;
  color: var(--accent);
  position: relative;
  padding-bottom: 3px;
}

/* Underline animation */
.know-more-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 0%;
  height: 2px;
  background: var(--accent);

  transition: 0.3s ease;
}

/* =========================  MAIN SERVICE  PAGE ENDS ========================= */


/* =========================  MAIN SURVEY  PAGE STARTS ========================= */
/* =========================
   SURVEY HERO
========================= */
.survey-hero {
  position: relative;
  height: 45vh;
  background: url("../img/hero/survey.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
}

/* Overlay */
.survey-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 42, 0.75);
}

/* Content */
.survey-hero-content {
  position: relative;
  color: #fff;
  max-width: 600px;
}

.survey-hero-content h1 {
  font-size: 2.3rem;
  margin-bottom: 10px;
}

.survey-hero-content p {
  color: #ddd;
  margin-bottom: 15px;
}

/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
}

.breadcrumb a {
  color: var(--accent);
}

.breadcrumb span {
  color: #ccc;
}

/* =========================
   SURVEY GIS SECTION
========================= */
.gis-section {
  background: #f8fafc;
}

/* Layout */
.gis-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: start;
}

/* TEXT */
.gis-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.gis-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* FEATURES GRID */
.gis-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

/* Card */
.gis-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #eee;
  transition: 0.3s;

}

/* Hover */
.gis-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px var(--primary);
}

/* Title */
.gis-card h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Text */
.gis-card p {
  font-size: 13px;
  color: #666;
}


/* =========================
   SURVEY GPR SECTION
========================= */
.gpr-section {
  background: #ffffff;
}

/* Layout */
.gpr-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.gpr-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.gpr-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* Points */
.gpr-points {
  margin-top: 20px;
}

.gpr-points div {
  margin-bottom: 8px;
  font-weight: 500;
}

/* IMAGE */
.gpr-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.gpr-image:hover img {
  transform: scale(1.03);
}

/* =========================
  SURVEY TOTAL STATION SECTION
========================= */
.ts-section {
  background: #f8fafc;
}

/* Layout */
.ts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.ts-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.ts-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* Points */
.ts-points {
  margin-top: 20px;
}

.ts-points div {
  margin-bottom: 8px;
  font-weight: 500;
}

/* IMAGE */
.ts-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.ts-image:hover img {
  transform: scale(1.03);
}

/* =========================
   SURVEY DGPS SECTION
========================= */
.dgps-section {
  background: #ffffff;
}

/* Header */
.dgps-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.dgps-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.dgps-header p {
  color: #555;
}

/* Grid */
.dgps-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* Features */
.dgps-features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Item */
.dgps-item h4 {
  font-size: 15px;
  margin-bottom: 5px;
  color: var(--primary);
}

.dgps-item p {
  font-size: 13px;
  color: #666;
}

/* Image */
.dgps-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.dgps-image:hover img {
  transform: scale(1.03);
}

/* =========================  MAIN SURVEY  PAGE ENDS ========================= */


/* =========================  MAIN STRENGTHENING PAGE STARTS ========================= */
/* =========================
   STRENGTHENING HERO
========================= */
.strength-hero {
  position: relative;
  height: 45vh;
  background: url("../img/hero/strengthening.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
}

/* Overlay */
.strength-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  /* slightly darker = stronger feel */
}

/* Content */
.strength-hero-content {
  position: relative;
  color: #fff;
  max-width: 600px;
}

.strength-hero-content h1 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.strength-hero-content p {
  color: #ddd;
  margin-bottom: 15px;
}

/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
}

.breadcrumb a {
  color: var(--accent);
}

.breadcrumb span {
  color: #ccc;
}

/* =========================
   STRENGTHENING WATERPROOFING SECTION
========================= */
.waterproof-section {
  background: #ffffff;
}

/* Layout */
.waterproof-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.waterproof-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.waterproof-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* Points */
.waterproof-points {
  margin-top: 20px;
}

.waterproof-points div {
  margin-bottom: 8px;
  font-weight: 500;
}

/* IMAGE */
.waterproof-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.waterproof-image:hover img {
  transform: scale(1.03);
}


/* =========================
   STRENGTHENING EPOXY GROUTING SECTION
========================= */
.epoxy-section {
  background: #f8fafc;
}

/* Layout */
.epoxy-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.epoxy-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.epoxy-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* Points */
.epoxy-points {
  margin-top: 20px;
}

.epoxy-points div {
  margin-bottom: 8px;
  font-weight: 500;
}

/* IMAGE */
.epoxy-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.epoxy-image:hover img {
  transform: scale(1.03);
}

/* =========================  MAIN STRENGTHENING PAGE ENDS ========================= */


/* =========================  MAIN DRONE SURVEY PAGE STARTS ========================= */
/* =========================
   DRONE HERO
========================= */
.drone-hero {
  position: relative;
  height: 50vh;
  background: url("../img/hero/drone.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
}

/* Overlay (slightly bluish tech feel) */
.drone-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(15, 23, 42, 0.7);
}

/* Content */
.drone-hero-content {
  position: relative;
  color: #fff;
  max-width: 600px;
}

.drone-hero-content h1 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.drone-hero-content p {
  color: #ddd;
  margin-bottom: 15px;
}

/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
}

.breadcrumb a {
  color: var(--accent);
}

.breadcrumb span {
  color: #ccc;
}

/* =========================
   DRONE SURVEY RGB VIDEOGRAPHY
========================= */
.rgb-section {
  background: #ffffff;
}

/* Layout */
.rgb-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.rgb-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.rgb-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* Points */
.rgb-points {
  margin-top: 20px;
}

.rgb-points div {
  margin-bottom: 8px;
  font-weight: 500;
}

/* IMAGE */
.rgb-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.rgb-image:hover img {
  transform: scale(1.05);
}

/* =========================
   drone PHOTOGRAMMETRY SECTION
========================= */
.photo-section {
  background: #f8fafc;
}

/* Header */
.photo-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.photo-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.photo-header p {
  color: #555;
}

/* Grid */
.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Card */
.photo-card {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #eee;
  transition: 0.3s;
}

/* Hover */
.photo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px var(--primary);
}

/* Title */
.photo-card h4 {
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--primary);
}

/* Text */
.photo-card p {
  font-size: 13px;
  color: #666;
}

/* =========================
    DRONE THERMAL SECTION
========================= */
.thermal-section {
  background: var(--white);
}

/* Header */
.thermal-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.thermal-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.thermal-header p {
  color: #555;
}

/* Grid */
.thermal-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* Image */
.thermal-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.thermal-image:hover img {
  transform: scale(1.05);
}

/* Features */
.thermal-features {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Item */
.thermal-item h4 {
  font-size: 15px;
  margin-bottom: 5px;
  color: var(--primary);
}

.thermal-item p {
  font-size: 13px;
  color: #666;
}

/* =========================
   drone LIDAR SECTION
========================= */
.lidar-section {
  background: var(--light);
}

/* Wrapper */
.lidar-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  margin-bottom: 40px;
}

/* TEXT */
.lidar-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.lidar-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* IMAGE */
.lidar-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.lidar-image:hover img {
  transform: scale(1.05);
}

/* FEATURE STRIP */
.lidar-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

/* Box */
.lidar-box {
  background: var(--light);
  color: var(--primary);
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  transition: 0.3s;
}

.lidar-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px var(--primary);
}

/* Text */
.lidar-box h4 {
  font-size: 14px;
}


/* =========================  MAIN DRONE SURVEY PAGE ENDS ========================= */

/* =========================   MAIN  NDT  PAGE   STARTS   ========================= */
/* =========================
   NDT HERO SECTION
========================= */
.ndt-hero {
  position: relative;
  height: 50vh;
  background: url("../img/hero/ndt.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
}

/* Overlay (slightly darker for serious feel) */
.ndt-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
}

/* Content */
.ndt-hero-content {
  position: relative;
  color: #fff;
  max-width: 600px;
}

.ndt-hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.ndt-hero-content p {
  color: #ddd;
  margin-bottom: 15px;
}

/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
}

.breadcrumb a {
  color: var(--accent);
}

.breadcrumb span {
  color: #ccc;
}

/* =========================
   NDT UPV SECTION
========================= */
.upv-section {
  background: #ffffff;
}

/* Layout */
.upv-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.upv-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.upv-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* Points */
.upv-points {
  margin-top: 20px;
}

.upv-points div {
  margin-bottom: 8px;
  font-weight: 500;
}

/* IMAGE */
.upv-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.upv-image:hover img {
  transform: scale(1.03);
}

/* =========================
   NDT  REBOUND HAMMER SECTION
========================= */
.rebound-section {
  background: #f8fafc;
}

/* Layout */
.rebound-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.rebound-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.rebound-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* Points */
.rebound-points {
  margin-top: 20px;
}

.rebound-points div {
  margin-bottom: 8px;
  font-weight: 500;
}

/* IMAGE */
.rebound-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.rebound-image:hover img {
  transform: scale(1.03);
}

/* =========================
   NDT CARBONATION SECTION
========================= */
.carbonation-section {
  background: #ffffff;
}

/* Header */
.carbonation-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.carbonation-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.carbonation-header p {
  color: #555;
}

/* Grid */
.carbonation-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* Card */
.carbonation-card {
  background: #f8fafc;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #eee;
  transition: 0.3s;
}

/* Hover */
.carbonation-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

/* Title */
.carbonation-card h4 {
  font-size: 14px;
  margin-bottom: 6px;
  color: var(--primary);
}

/* Text */
.carbonation-card p {
  font-size: 13px;
  color: #666;
}

/* =========================
   NDT CORE CUTTING SECTION
========================= */
.corecut-section {
  background: #f8fafc;
}

/* Layout */
.corecut-container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  /* image smaller, content bigger */
  gap: 50px;
  align-items: center;
}

/* IMAGE */
.corecut-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.corecut-image:hover img {
  transform: scale(1.03);
}

/* CONTENT WRAP */
.corecut-content {
  display: flex;
  flex-direction: column;
}

/* TEXT */
.corecut-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.corecut-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* STEPS */
.corecut-steps {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

/* Step */
.core-step {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

/* Number */
.core-step span {
  background: var(--primary);
  color: #fff;
  width: 28px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  font-size: 14px;
}

/* Text */
.core-step p {
  font-size: 13px;
  color: #666;
}

/* =========================
   NDT HALF CELL SECTION
========================= */
.halfcell-section {
  background: #ffffff;
}

/* Header */
.halfcell-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.halfcell-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.halfcell-header p {
  color: #555;
}

/* Grid */
.halfcell-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: start;
}

/* TEXT */
.halfcell-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* FEATURES */
.halfcell-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* Box */
.halfcell-box {
  background: #f8fafc;
  padding: 15px;
  border-radius: 6px;
  border-left: 3px solid var(--primary);
  transition: 0.3s;
}

/* Hover */
.halfcell-box:hover {
  background: #eef2ff;
}

/* Title */
.halfcell-box h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Text */
.halfcell-box p {
  font-size: 13px;
  color: #666;
}

/* =========================
   NDT REBAR SECTION
========================= */
.rebar-section {
  background: #f8fafc;
}

/* Header */
.rebar-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.rebar-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.rebar-header p {
  color: #555;
}

/* Wrapper */
.rebar-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* Image */
.rebar-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.rebar-image:hover img {
  transform: scale(1.05);
}

/* Info cards */
.rebar-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/* Card */
.rebar-card {
  background: #fff;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #eee;
  transition: 0.3s;
}

/* Hover */
.rebar-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

/* Title */
.rebar-card h4 {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--primary);
}

/* Text */
.rebar-card p {
  font-size: 13px;
  color: #666;
}

/* =========================
   NDT MORTAR SECTION
========================= */
.mortar-section {
  background: #ffffff;
}

/* Layout */
.mortar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.mortar-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.mortar-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* FEATURES */
.mortar-features {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Item */
.mortar-item {
  background: #f8fafc;
  padding: 15px 20px;
  border-radius: 6px;
  border-left: 3px solid var(--accent);
  font-size: 14px;
  font-weight: 500;
}

/* =========================  MAIN  NDT PAGE ENDS ========================= */

/* ========================= PILE FOUNDATION PAGE STARTS ========================= */
/* =========================
    PILE FOUNDATION HERO
========================= */
.pile-hero {
  position: relative;
  height: 50vh;
  background: url("../img/hero/pile.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
}

/* Overlay */
.pile-hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  /* strong feel */
}

/* Content */
.pile-hero-content {
  position: relative;
  color: #fff;
  max-width: 600px;
}

.pile-hero-content h1 {
  font-size: 2.6rem;
  margin-bottom: 10px;
}

.pile-hero-content p {
  color: #ddd;
  margin-bottom: 15px;
}

/* Breadcrumb */
.breadcrumb {
  font-size: 14px;
}

.breadcrumb a {
  color: var(--accent);
}

.breadcrumb span {
  color: #ccc;
}

/* =========================
   PILE FOUNDATION PILE INTEGRITY SECTION
========================= */
.pile-integrity {
  background: #ffffff;
}

/* Layout */
.pile-integrity-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.pile-integrity-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.pile-integrity-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* Points */
.pile-integrity-points {
  margin-top: 20px;
}

.pile-integrity-points div {
  margin-bottom: 8px;
  font-weight: 500;
}

/* IMAGE */
.pile-integrity-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.pile-integrity-image:hover img {
  transform: scale(1.03);
}

/* =========================
   PILE FOUNDATION Cross-Hole Sonic Login Test SECTION
========================= */
.csl-section {
  background: #f8fafc;
}

/* Header */
.csl-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.csl-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.csl-header p {
  color: #555;
}

/* Grid */
.csl-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* Image */
.csl-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.csl-image:hover img {
  transform: scale(1.05);
}

/* Content */
.csl-content p {
  margin-bottom: 20px;
  color: #555;
}

/* Features */
.csl-features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

/* Box */
.csl-box {
  background: #ffffff;
  padding: 15px;
  border-radius: 6px;
  border-left: 3px solid var(--primary);
  transition: 0.3s;
}

.csl-box:hover {
  background: #eef2ff;
}

/* Title */
.csl-box h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

/* Text */
.csl-box p {
  font-size: 13px;
  color: #666;
}

/* =====================================
 PILE LOAD TEST (KENTLEDGE METHOD)  SECTION
===================================== */
.kentledge-section {
  background: #ffffff;
}

/* Layout */
.kentledge-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.kentledge-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.kentledge-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* Points */
.kentledge-points {
  margin-top: 20px;
}

.kentledge-points div {
  margin-bottom: 8px;
  font-weight: 500;
}

/* IMAGE */
.kentledge-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.kentledge-image:hover img {
  transform: scale(1.03);
}

/* PROCESS BAR */
.kentledge-steps {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: var(--primary);
  font-weight: 500;
}

.kentledge-steps span {
  position: relative;
}

/* underline line */
.kentledge-steps span::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background: var(--accent);
  margin-top: 5px;
}


/* =====================================
        Pile Load Test (Anchore Method) SECTION
    =====================================  */
.anchor-section {
  background: #f8fafc;
}

/* Grid */
.anchor-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
  margin-bottom: 30px;
}

/* Image */
.anchor-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.anchor-image:hover img {
  transform: scale(1.05);
}

/* Text */
.anchor-text h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.anchor-text p {
  margin-bottom: 15px;
  color: #555;
  line-height: 1.6;
}

/* FEATURE STRIP */
.anchor-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

/* Box */
.anchor-box {
  background: var(--light);
  color: var(--primary);
  padding: 15px;
  text-align: center;
  border-radius: 6px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.3s;
}

.anchor-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px var(--primary);
}

/* =========================
    PILE LOAD TEST (ROCK ANCHOR METHOD) SECTION
========================= */
.rock-anchor-section {
  background: #ffffff;
}

/* Header */
.rock-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.rock-header h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.rock-header p {
  color: #555;
}

/* Grid */
.rock-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

/* TEXT */
.rock-text p {
  margin-bottom: 20px;
  color: #555;
  line-height: 1.6;
}

/* Features */
.rock-features {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Item */
.rock-item {
  background: #f8fafc;
  padding: 12px 15px;
  border-left: 3px solid var(--primary);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

/* IMAGE */
.rock-image img {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s;
}

.rock-image:hover img {
  transform: scale(1.05);
}